
<div class="row justify-content-center">
    <!-- Portfolio Item 1-->
    {{#each portfolios}}
        <div class="col-md-6 col-lg-4 mb-5">
            <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{_id}}">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div>
                <img class="img-fluid" src="{{image.secure_url}}" alt="..." />
            </div>
        </div>


<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal{{_id}}" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{title}}</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <img class="img-fluid rounded mb-5" src="{{image.secure_url}}" alt="..." />
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">{{description}}</p>
                            <p class="mb-4 text-decoration-underline fw-bold text-uppercase">{{category}}</p>
                            <button class="btn btn-info" data-bs-dismiss="modal">
                                <i class="fas fa-computer fa-fw"></i>
                                Más información
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{else}}
    <p class="m-5 text-center fw-bold text-uppercase text-decoration-underline text-danger">No existen portafolios creados</p>
{{/each}}
</div>